@* addProductForm defined above is the parameter passed to this view by the controller *@
@import helper._

@(addFoodForm: play.data.Form[models.Food], user: models.users.User)
    @* helpers will be used to create the form dynamically, though static HTML form element also work. *@
    @main("Add Food", user) {
        <div class="well">

            <div class="form-log-in-with-email">
            <div class="form-white-background">
            <h3>Add new food</h3>

                <!-- Use the views.html.helpers package to create the form -->
            @form(action = routes.HomeController.addFoodSubmit(), 'class -> "form-horizontal", 'role -> "form") {

                <!-- Build the form, adding an input for each field -->


                <!-- Note the label parameter -->
                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("foodName"), '_label -> "Name", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("kcal"), '_label -> "Kcal", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("protein"), '_label -> "Protein", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("carbs"), '_label -> "Carbs", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("fat"), '_label -> "Fats", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("suitable"), '_label -> "Suitable", 'class -> "form-control")
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @select(
                        addFoodForm("mainMacro"),
                        options(Seq("Protein", "Carbohydrates", "Fat")),
                        '_label -> "Main macronutrient", '_default -> "Select main macro"
                    )
                    </label>
                </div>

                <div class="form-row">
                    <label>
                    @inputText(addFoodForm("foodId"), '_label -> "", 'hidden -> "hidden")
                    </label>
                </div>

                    <!-- Hidden ID field - required for product updates -->


                <!-- Add a submit button -->
            <div class="actions">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="@routes.HomeController.foodsview()"><button class="btn btn-warning">Cancel</button>
                </a>
            </div>
        </div>
            </div>
            </div>

    } <!-- End Form definition -->

        } <!-- End of page content -->

