@import helper._
@(addQuoteForm: Form[models.Quote], user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
    @main("Add new quote", user) {
        <!-- HTML content for the index view -->
        <div class="container">

            <div class="form-white-background">
                <h3>Add new quote</h3>
            <div class="col-sm-10">

                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }

                @form(action = routes.HomeController.addQuoteSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                    @inputText(addQuoteForm("quote"), '_label -> " ", 'class -> "form-control", 'placeholder -> "Type your quote here")

                }
            </div>
        </div>
</div>
        <script>
                // JavaScript function returns true if user clicks yes, otherwise, false
                function confirmDel() {
                    return confirm('Are you sure?');
                }
        </script>
            <!-- End of content for main -->

    }
