@import helper._

@(user: models.users.User, editProfileForm: Form[models.users.Profile], p: models.users.Profile)
    @main("Fill in profile", user) {

        <!--include hidden field for profile id-->
        <div class="col-sm-4 col-centered">
            <div class="form-white-background">
                @if(flash.containsKey("profileFail")) {
                    <div class="alert alert-danger">
                    @flash.get("profileFail")
                    </div>
                }


            @helper.form(action = controllers.routes.LoginController.editProfileForm(p.getProfileId()), 'enctype -> "multipart/form-data") {

                <div class="well">
                    <p> Upload your profile picture</p>
                    <input class="btn-sm btn-default" type="file" name="upload">
                </div>

                <div class="well">

                @inputRadioGroup(
                    editProfileForm("Gender"),
                    options = Seq("male" -> "Male", "female" -> "Female")
                )

                </div>
                <div class="well">

                @inputText(editProfileForm("dob"), 'class -> "form-control", 'type -> "date", '_label -> "Date of birth")

                </div>


                <div class="well">

                @inputText(editProfileForm("Height"), 'class -> "form-control")
                </div>


                <div class="well">
                    <div class="form-group">
                    @inputText(editProfileForm("Weight"), 'class -> "form-control")
                    </div>
                </div>
                <div class="well">
                @inputRadioGroup(
                    editProfileForm("activityLevel"),
                    options = Seq("1.2" -> "Little - no exercise", "1.375" -> "Light exercise (1 - 3 days per week)\n", "1.55" -> "Moderate exercise (3 - 5 days per week)",
                        "1.725" -> "Heavy Exercise (6 - 7 days per week)", "1.9" -> "Very heavy exercise (twice per day, extra heavy workouts)"),
                    '_label -> "Activity Level",
                    '_error -> editProfileForm("activityLevel").error.map(_.withMessage("Select activity level")))


                </div>

                <div class="well">

                @inputRadioGroup(
                    editProfileForm("primaryGoal"),
                    options = Seq("loseWeight" -> "Lose weight", "gainMuscle" -> "Gain muscle", "maintain" -> "Maintain weight"),
                    '_label -> "Primary Goal",
                    '_error -> editProfileForm("primaryGoal").error.map(_.withMessage("Select primary goal")))


                </div>

                <div class="well">
                @inputText(editProfileForm("noOfMeal"), 'class -> "form-control", '_label -> "No. of meals you wish to eat a day")
                </div>

                <div class="form-row">
                    <input type ="submit" value="Edit profile" class ="btn btn-primary">
                </div>

                <div class="form-row">
                    <a href="@routes.HomeController.profile()">
                        <input type="button" value="Cancel" class="btn btn-primary" onclick="">
                    </a>
                </div>

            </div>

        </div>


    }
    }

