@import helper._
@(addFoodForm: play.data.Form[models.Food], foods: List[models.Food], user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
    @main("Foods", user) {
        <!-- HTML content for the index view -->
        <div class="container">

            <div class="col-sm-10">

                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                            <!-- The header row-->
                        <tr>
                            <th>ID</th>
                            <th>Main</th>
                            <th>Name</th>
                            <th>Kcal</th>
                            <th>Protein</th>
                            <th>Carbs</th>
                            <th>Fats</th>
                            <th>Suitable</th>
                            <th>/100g</th>
                        </tr>
                    </thead>
                    <tbody>

                            <!-- Movie row(s) -->
                            <!-- Start of For loop - For each m in movies add a row -->

                        @for(f <- foods) {

                            <tr>
                                <td>@f.getFoodId</td>
                                <td>@f.getMainMacro</td>
                                <td>@f.getFoodName</td>
                                <td>@f.getKcal</td>
                                <td>@f.getProtein</td>
                                <td>@f.getCarbs</td>
                                <td>@f.getFat</td>
                                <td>@f.getSuitable</td>
                                <td>
                                    <a href="@routes.HomeController.deleteFood(f.getFoodId)"
                                    onclick="return confirmDel();">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>


                        } <!-- End of For loop -->
                    </tbody>
                </table>

                <a href="@routes.HomeController.addFood()">
                    <button class="btn btn-primary">Add new food</button>
                </a>
            </div>
        </div>

        <script>
                // JavaScript function returns true if user clicks yes, otherwise, false
                function confirmDel() {
                    return confirm('Are you sure?');
                }
        </script>
            <!-- End of content for main -->

    }
