@(user: models.users.User)
@temp("home", user) {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="container">


    </div>

    <div class=feature>
        <div class="container">

            <h2>Start the change now !</h2>

        </div>
    </div>

    <div class="supporting">
        <div class="container">
            <div class="col">
                <h2>Eat</h2>
                <p>Musisz jesc wariac, bez jedzenie nie ma progresu a bez progresu nie ma cip.</p>
            </div>
            <div class="col">
                <h2>Lift</h2>
                <p>Dzwigaj jak dzwig z boba budowniczego a bedziesz wielki jak robert burneika</p>
            </div>
            <div class="col">
                <h2>Change</h2>
                <p>kto sie nie zmienia ten sie leni, a wiec zmieniaj sie i swiat hehe</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class=feature2>
        <div class="container">

            <div class="register">
                <a href="@routes.LoginController.register()"><button class="btn btn-lg btn-warning" id="regBtn">Register now !</button></a>
            </div>

        </div>
    </div>

    <div class="supporting">
        <div class="container">
            <div class="col">
                <h2>Meal Generator</h2>
                <p>Musisz jesc wariac, bez jedzenie nie ma progresu a bez progresu nie ma cip.</p>
            </div>
            <div class="col">
                <h2>Newsfeed</h2>
                <p>Dzwigaj jak dzwig z boba budowniczego a bedziesz wielki jak robert burneika</p>
            </div>
            <div class="col">
                <h2>Calculators</h2>
                <p>kto sie nie zmienia ten sie leni, a wiec zmieniaj sie i swiat hehe</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

}
