@import helper._
@(user: models.users.User, meals: List[models.Meal], foods: List[models.Food])

@main("My Profile", user) {

    <div class="container">
        <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
                <!-- The header row-->
            <tr>
                <th>Meal No.</th>
                <th>Total KCAL</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbohydrates</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>


        @for(m <- meals) {
            <tr>

                <td>@m.getMealNo</td>
                <td>@m.getTotalKcal</td>
                <td>@m.getTotalProtein @m.getFoods.get(0).getF().getFoodName</td>
                <td>@m.getTotalFat @m.getFoods.get(1).getF().getFoodName</td>
                <td>@m.getTotalCarbs @m.getFoods.get(2).getF().getFoodName</td>
                <td>@m.getDate</td>
            </tr>
            }

</tbody>

</table>





}