@(user: models.users.User, meals: List[models.Meal], foods: List[models.Food])
@import helper._


@main("Meals", user) {
    <div id="meal">
        Calories to eat today @user.getP.getDaily_kcal()

    </div>
    @for(m <- (meals.size()-1 to 0 by -1)) {
        <div id="meal">
        <h3>Meal No. @meals.get(m).getMealNo</h3>
        <p>Total KCAL @meals.get(m).getTotalKcal()</p>
            <div style="float:left">

                <p> @meals.get(m).getTotalProtein grams of </p>
                <p> @meals.get(m).getTotalFat grams of </p>
                <p> @meals.get(m).getTotalCarbs grams of  </p>


            </div>
            <div style="float:left">
            @for(i <- (0 to meals.get(m).getFoods.size()-1)) {
                <strong><p style="padding-left: 0.3em;"> @meals.get(m).getFoods.get(i).getF().getFoodName </p></strong>

            }
            </div>


        </div>
    }
    <div id="regenDiet">
        <a href="@routes.HomeController.generateDiet()" class="btn btn-primary">
            <span>Regenerate!!!</span>
        </a>
    </div>
}

<script>
        // JavaScript function returns true if user clicks yes, otherwise, false
        function confirmRegenerate() {
            return confirm('Are you sure?');
        }
</script>
