@import helper._
@(newPostForm: Form[models.Post], addCommentForm: Form[models.Comment], posts: List[models.Post], comments: List[models.Comment], user: models.users.User, post: models.Post, env: play.api.Environment, profiles: List[models.users.Profile], message: String)
@main("Newsfeed", user) {
    @* <div class="well">*@
    <div class="row" style="background-color: #ffffff">


        <div class="col-sm-6 col-centered">
            <div id="messagebox"><h2 style="position: absolute;
                top: 150px;
                left: 0;
                width: 100%;
                text-align: center; "><span><i>"@message"</i></span></h2></div>
            <div class="well">

            @form(action = routes.MemberController.addPostSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {

                <br>

                @inputText(newPostForm("content"), '_label -> " ", 'class -> "form-control", 'placeholder -> "What's on your mind?")

                <label>Image Upload</label>

                <input class="btn-sm btn-default" type="file" name="upload">
                @* <input type="submit" value="Add post" class="btn btn-primary" style="float: right">*@
                    <!--  <button type="button" class="btn" style="float: right">ADD POST</button>-->
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }

            </div>
            }

        </div>

        <br>


        @for(p <- posts) {
            <div class="row well">
                <div class="col-sm-6 col-centered" style="">
                    <div class="post">
                        <div class="postImg">
                        @for(pr <- profiles) {
                            @if(p.getUser.getEmail == pr.getU.getEmail) {
                                @if(env.resource("public/images/ProfileImages/thumbnails/" + pr.getProfileId + ".jpg").isDefined) {
                                    <img style="box-shadow: 0.1em;" class="postimg" src="/assets/images/ProfileImages/thumbnails/@(pr.getProfileId).jpg"/>
                                } else {
                                    <img style="box-shadow: 0.1em;" class="postimg" src="/assets/images/ProfileImages/thumbnails/noProfilePic.jpg"/>
                                }
                            }
                        }
                        </div>


                        <div class="postDet">
                            <p><strong>@p.getUser.getName @p.getUser.getSurname</strong> @p.getFormatDateTime()</p>
                            @if(p.getUser.getEmail == user.getEmail || user.getRole == "admin") {
                                <div class="deletePost">
                                    <a href="@routes.HomeController.deletePost(p.getId)" class="btn-xs btn-danger"
                                    onclick="return confirmDel();">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            }

                        </div>


                        <div class="postContent">
                            <p>@p.getContent</p>
                        </div>


                        <div id="postConImg">
                        @if(env.resource("public/images/postImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                            <img style="box-shadow: 0.1em;" class="postimg" src="/assets/images/postImages/@(p.getId).jpg"/>

                        } else {

                        }
                        </div>


                            <!-- koniec rowa-->
                        @if(user.getRole == "member") {
                            <div id="likeClick">

                                <a href="@routes.MemberController.giveLike(p.getId)" class="btn-sm btn-danger">
                                    <span class="likeBtn glyphicon glyphicon-heart-empty"></span>
                                </a>

                            </div>
                            <div id="likeCtn">
                                <strong> <p>@p.getPlike.getLikeCount()</p> </strong>
                            </div>
                        }

                        <hr style="border-color: rgba(0, 0, 0, 0.2);
                            clear: both;">


                        @for(c <- comments) {
                            @if(c.getPost.getId == p.getId) {
                                <p><strong>@c.getUser.getName @c.getUser.getSurname commented:</strong></p>
                                <p> @c.getContent</p>

                            }

                        }




                        @form(action = routes.MemberController.addCommentSubmit(p.getId()), 'class -> "form-horizontal", 'role -> "form") {
                            @inputText(addCommentForm("content"), '_label -> " ", 'class -> "form-control", 'placeholder -> "Write a comment..")
                            @* <input type="submit" value="Add comment" class="btn btn-primary" style="float: right">*@
                        }

                    </div>

                </div>

            </div>
        }
@* </div>*@
<br>
<br>


<script>
        $("#new-projects").load("http://api.jquery.com/resources/load.html #projects li");
</script>

}



