@import helper._
@(user: models.users.User, bmi: String)


@main("My Profile", user) {


    <div class="col-sm-4 col-centered" style="">
        <a href=""><img style="box-shadow: 0.1em;" class="img-circle" src="/assets/images/ProfileImages/thumbnails/@(user.getP.getProfileId).jpg"/></a>

        <h2>My Profile</h2>

        <div class="row well">

            <strong><p>User Name</strong> <span style="float: right">@user.getName </p></span>


        </div>

        <div class="row well">

            <strong> <p>User Surname</strong> <span style="float: right">@user.getSurname </p></span>


        </div>
        <div class="row well">

            <strong> <p>User's Email</strong><span style="float: right"> @user.getEmail </p></span>


        </div>
        <div class="row well">

            <strong> <p>Date of birth</strong><span style="float: right">@user.getP.getDob </p></span>


        </div>
        <div class="row well">

            <strong> <p>Height</strong><span style="float: right">@user.getP.getHeight </p></span>


        </div>

        <div class="row well">
            <strong><p>Weight</strong><span style="float: right">@user.getP.getWeight </p></span>

        </div>


        <div class="row well">

            <strong><p>Level of activity</strong><span style="float: right">@user.getP.getActivityLevel </p></span>

        </div>

        <div class="row well">

            <strong><p>Primary goal</strong><span style="float: right">@user.getP.getPrimaryGoal </p>


        </div>


        <div class="row well">

            <strong><p>Number of meals</strong><span style="float: right">@user.getP.getNoOfMeal </p>


        </div>

        <div class="row well">

            <strong><p>
                Recommended daily calories intake</strong><span style="float: right">@user.getP.getDaily_kcal() </p>


        </div>
        <div class="row well">

            <strong><p>BMI</strong><span style="float: right">@bmi</p>
            <a>Show Info
                <div>
                    <img src="/assets/images/bmi.jpg"/>
                </div>
            </a>

        </div>


        <div class="form-row">
        <a href="@routes.HomeController.editProfile()">
            <input type="button" value="Edit profile" class="btn btn-primary" onclick="">
        </a>
        </div>







}