@import helper._
@(addUserForm: Form[models.users.User], user: models.users.User)
@temp("Register", user) {

    <div class="well" >

        <div class="form-log-in-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Sign Up</h1>

                    @if(flash.containsKey("success")) {
                        <div class="alert alert-success">
                        @flash.get("success")
                        </div>
                    }
                    @if(flash.containsKey("failReg")) {
                        <div class="alert alert-danger">
                        @flash.get("failReg")
                        </div>
                    }

                </div>

                @form(action = routes.LoginController.addUserSubmit, 'class -> "form-horizontal", 'role -> "form") {

                    <div class="form-row">
                        <label>
                            @* @inputText(addUserForm("name"), '_label -> "First Name", 'class -> "form-control")*@
                            @inputText(addUserForm("name"),
                                'id -> "name",
                                'class -> "form-control",
                                'autocomplete -> "off",
                                '_label -> "Name"
                            )

                        </label>
                    </div>


                    <div class="form-row">
                        <label>
                        @inputText(addUserForm("surname"), '_label -> "Surname", 'class -> "form-control")
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                        @inputText(addUserForm("email"), '_label -> "E-mail", 'class -> "form-control")
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                        @inputText(addUserForm("password"), '_label -> "Password", 'class -> "form-control", 'type -> "password")
                        </label>
                    </div>

                    <div class="form-row">
                        <input type ="submit" value="Sign Up" class ="btn btn-primary">
                    </div>

                    <div class="form-row">
                        <a href="@routes.HomeController.index()">
                        <input type="button" value="Cancel" class="btn btn-primary" onclick="">
                        </a>
                    </div>

                </div>
        </div>


        <p style="text-align: center;">Already have an account? <a href="@routes.LoginController.login()">
            Sign In Here </a>
    </div>
}
}