@import helper._
@(user: models.users.User)


@main("Strength Calculator", user) {
    <div style="text-align: center;">


        <div class="videoWrapper">
            <iframe src="http://strengthlevel.com/" width="100%" height="1000"></iframe>
        </div>


</div>





}