@import helper._
@(users: List[models.users.User], user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
    @main("Manage users", user) {
        <!-- HTML content for the index view -->
        <div class="container">

            <div class="col-sm-10">

                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                            <!-- The header row-->
                        <tr>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Advance to Admin</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>

                            <!-- Start of For loop - For each m in movies add a row -->

                        @for(u <- users) {

                            <tr>
                                <td>@u.getRole</td>
                                <td>@u.getEmail</td>
                                <td>@u.getName</td>
                                <td>@u.getSurname</td>
                                <td>
                                    <a href="@routes.LoginController.setAdmin(u.getEmail)" >
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="@routes.HomeController.deleteUser(u.getEmail)"
                                    onclick="return confirmDel();">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>


                        } <!-- End of For loop -->
                    </tbody>
                </table>
            </div>
        </div>
        <script>
                // JavaScript function returns true if user clicks yes, otherwise, false
                function confirmDel() {
                    return confirm('Are you sure?');
                }
        </script>
            <!-- End of content for main -->

    }
